.main{
    background-color:#003145;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.left{
    color: white;
    display: flex;
    gap: 40px;
    width: 50%;
}

.left-text .text-1{
    font-size: 56px;
    font-weight: 600;
}

.left-text .text-2{
    font-size: 16px;
}
.line{
    width:9.71px;
    height:115.91px;
    background-color:#FFCE5C;
}

.left-second{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.right img{
    width: 70%;
    height: 70%;
    transform: rotate(21.41deg);
    margin-left: 20%;
}

@media (max-width:850px){
    .left-text .text-1{
        font-size: 40px;
    }
    .left-text .text-2 {
        font-size: 14px;
    }
}

@media (max-width:750px) {
    .left-text .text-1{
        font-size: 40px;
    }
    .left-text .text-2{
        font-size: 12px;
    }
}
@media (max-width:530px) {
    .left-text .text-1{
        font-size: 25px;
    }
    .left-text .text-2{
        font-size: 8px;
    }
    .right img{
        min-width: 200px;
        margin-left: 10%;
    }
}

@media (max-width:450px){
    .right img{
        min-width: 150px;
        margin-left: 20px;
    }
}